In [1]:
import pandas as pd
import numpy as np
import os
from heapq import nlargest
from sklearn.metrics.pairwise import cosine_similarity
from itertools import combinations
import reusables

## Data Cleaning

In [2]:
# Load the data, It is movielens dataset
rating_df = pd.read_csv('./ds2/ratings.csv')
movie_df =  pd.read_csv('./ds2/movies.csv')
df = pd.merge(rating_df, movie_df, on='movieId')

# new_df = df.drop(columns=['timestamp','userId','genres'])
# ratings = pd.DataFrame(new_df.groupby(['movieId','title'])['rating'].mean())
# ratings['number_of_ratings'] = new_df.groupby(['movieId','title'])['rating'].count()

In [3]:
df.drop(columns=['timestamp','genres'], inplace=True)

In [4]:
# t=df

In [5]:
# Grab only top 1000 movies with most ratings
r= pd.DataFrame(df.groupby(['movieId'])['rating'].count())
valid_movies = r.nlargest(1000, columns='rating').index
df = df[df['movieId'].isin(valid_movies)]
valid_movies.shape

In [323]:
# r= pd.DataFrame(df.groupby(['movieId'])['rating'].mean())
# valid_movies = r[r['rating']>4].index
# df = df[df['movieId'].isin(valid_movies)]
# valid_movies.shape

In [6]:
# Grab only users who have rated more than 50 movies
r= pd.DataFrame(df.groupby(['userId'])['rating'].count())
valid_users = r[r['rating']>50].index
df = df[df['userId'].isin(valid_users)]
valid_users.shape

(84420,)

In [7]:
movieId2title = df.drop(columns=['userId','rating']).set_index('movieId').drop_duplicates().to_dict()['title']

In [326]:
df.drop(columns='title', inplace=True)

In [327]:

df['movieId'].drop_duplicates().shape

(1000,)

In [328]:
df['userId'].drop_duplicates().shape

(84420,)

## Creating a Pivot Table and Generating Similarities

In [8]:
# Create a pivot table with movieId in rows and userId in columns
table = df.pivot_table(columns='userId', index='movieId', values='rating')
table.fillna(0, inplace=True)

In [9]:
table

userId,2,3,4,5,8,9,12,13,15,18,...,162528,162529,162530,162532,162533,162534,162536,162537,162538,162541
movieId,,,,,,,,,,,,,,,,,,,,,
1,3.5,4.0,3.0,4.0,4.0,0.0,4.0,4.0,0.0,3.0,...,0.0,2.0,5.0,0.0,4.5,4.0,0.0,0.0,2.0,0.0
2,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,2.0,0.0,0.0,1.5,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148626,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,5.0,0.0,0.0,0.0
152081,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
164179,0.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0
166528,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
168252,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0

In [153]:
movieId2idx = {}
idx2movieId = {}
for i, movieId in enumerate(table.index):
    movieId2idx[movieId]=i
    idx2movieId[i]=movieId

{1: 0,
 2: 1,
 3: 2,
 5: 3,
 6: 4,
 7: 5,
 10: 6,
 11: 7,
 16: 8,
 17: 9,
 19: 10,
 21: 11,
 22: 12,
 24: 13,
 25: 14,
 29: 15,
 31: 16,
 32: 17,
 34: 18,
 36: 19,
 39: 20,
 44: 21,
 45: 22,
 47: 23,
 48: 24,
 50: 25,
 52: 26,
 58: 27,
 62: 28,
 70: 29,
 95: 30,
 104: 31,
 105: 32,
 110: 33,
 111: 34,
 112: 35,
 141: 36,
 145: 37,
 150: 38,
 151: 39,
 153: 40,
 158: 41,
 160: 42,
 161: 43,
 163: 44,
 165: 45,
 168: 46,
 170: 47,
 172: 48,
 173: 49,
 180: 50,
 185: 51,
 186: 52,
 193: 53,
 196: 54,
 198: 55,
 204: 56,
 208: 57,
 215: 58,
 216: 59,
 223: 60,
 224: 61,
 225: 62,
 230: 63,
 231: 64,
 235: 65,
 236: 66,
 246: 67,
 247: 68,
 252: 69,
 253: 70,
 256: 71,
 260: 72,
 261: 73,
 265: 74,
 266: 75,
 272: 76,
 273: 77,
 277: 78,
 282: 79,
 288: 80,
 292: 81,
 293: 82,
 296: 83,
 300: 84,
 303: 85,
 306: 86,
 307: 87,
 315: 88,
 316: 89,
 317: 90,
 318: 91,
 319: 92,
 327: 93,
 329: 94,
 333: 95,
 337: 96,
 339: 97,
 342: 98,
 344: 99,
 345: 100,
 348: 101,
 349: 102,
 350: 103,
 353: 104,
 355: 105,
 356: 106,
 357: 107,
 362: 108,
 364: 109,
 367: 110,
 368: 111,
 370: 112,
 372: 113,
 376: 114,
 377: 115,
 380: 116,
 410: 117,
 420: 118,
 431: 119,
 432: 120,
 434: 121,
 435: 122,
 440: 123,
 441: 124,
 442: 125,
 454: 126,
 455: 127,
 457: 128,
 466: 129,
 468: 130,
 471: 131,
 474: 132,
 475: 133,
 480: 134,
 485: 135,
 494: 136,
 497: 137,
 500: 138,
 508: 139,
 509: 140,
 515: 141,
 520: 142,
 524: 143,
 527: 144,
 529: 145,
 531: 146,
 539: 147,
 541: 148,
 543: 149,
 551: 150,
 552: 151,
 553: 152,
 555: 153,
 585: 154,
 586: 155,
 587: 156,
 588: 157,
 589: 158,
 590: 159,
 592: 160,
 593: 161,
 594: 162,
 595: 163,
 596: 164,
 597: 165,
 608: 166,
 610: 167,
 616: 168,
 628: 169,
 647: 170,
 648: 171,
 653: 172,
 661: 173,
 673: 174,
 708: 175,
 719: 176,
 720: 177,
 724: 178,
 733: 179,
 736: 180,
 741: 181,
 745: 182,
 750: 183,
 762: 184,
 778: 185,
 780: 186,
 783: 187,
 784: 188,
 785: 189,
 786: 190,
 788: 191,
 800: 192,
 802: 193,
 805: 194,
 832: 195,
 838: 196,
 849: 197,
 852: 198,
 858: 199,
 898: 200,
 899: 201,
 902: 202,
 903: 203,
 904: 204,
 908: 205,
 910: 206,
 912: 207,
 913: 208,
 914: 209,
 916: 210,
 919: 211,
 920: 212,
 922: 213,
 923: 214,
 924: 215,
 953: 216,
 968: 217,
 969: 218,
 1020: 219,
 1022: 220,
 1027: 221,
 1028: 222,
 1029: 223,
 1032: 224,
 1035: 225,
 1036: 226,
 1037: 227,
 1042: 228,
 1047: 229,
 1059: 230,
 1060: 231,
 1061: 232,
 1073: 233,
 1077: 234,
 1079: 235,
 1080: 236,
 1084: 237,
 1088: 238,
 1089: 239,
 1090: 240,
 1092: 241,
 1093: 242,
 1094: 243,
 1097: 244,
 1101: 245,
 1104: 246,
 1120: 247,
 1127: 248,
 1129: 249,
 1136: 250,
 1148: 251,
 1172: 252,
 1175: 253,
 1183: 254,
 1186: 255,
 1188: 256,
 1193: 257,
 1196: 258,
 1197: 259,
 1198: 260,
 1199: 261,
 1200: 262,
 1201: 263,
 1203: 264,
 1204: 265,
 1206: 266,
 1207: 267,
 1208: 268,
 1210: 269,
 1212: 270,
 1213: 271,
 1214: 272,
 1215: 273,
 1219: 274,
 1220: 275,
 1221: 276,
 1222: 277,
 1223: 278,
 1225: 279,
 1228: 280,
 1230: 281,
 1231: 282,
 1233: 283,
 1234: 284,
 1235: 285,
 1240: 286,
 1242: 287,
 1244: 288,
 1245: 289,
 1246: 290,
 1247: 291,
 1249: 292,
 1250: 293,
 1252: 294,
 1258: 295,
 1259: 296,
 1261: 297,
 1262: 298,
 1263: 299,
 1265: 300,
 1266: 301,
 1267: 302,
 1269: 303,
 1270: 304,
 1271: 305,
 1272: 306,
 1274: 307,
 1275: 308,
 1276: 309,
 1278: 310,
 1282: 311,
 1285: 312,
 1287: 313,
 1288: 314,
 1291: 315,
 1292: 316,
 1293: 317,
 1298: 318,
 1299: 319,
 1302: 320,
 1304: 321,
 1307: 322,
 1320: 323,
 1321: 324,
 1333: 325,
 1339: 326,
 1343: 327,
 1345: 328,
 1347: 329,
 1356: 330,
 1357: 331,
 1358: 332,
 1367: 333,
 1370: 334,
 1371: 335,
 1372: 336,
 1373: 337,
 1374: 338,
 1375: 339,
 1376: 340,
 1377: 341,
 1378: 342,
 1380: 343,
 1387: 344,
 1391: 345,
 1393: 346,
 1394: 347,
 1396: 348,
 1405: 349,
 1407: 350,
 1408: 351,
 1466: 352,
 1479: 353,
 1485: 354,
 1500: 355,
 1513: 356,
 1517: 357,
 1527: 358,
 1544: 359,
 1552: 360,
 1562: 361,
 1566: 362,
 1569: 363,
 1573: 364,
 1580: 365,
 1584: 366,
 1586: 367,
 1587: 368,
 1590: 369,
 1597: 370,
 1608: 371,
 1610: 372,
 1617: 373,
 1625: 374,
 1639: 375,
 1641: 376,
 1644: 377,
 1645: 378,
 1653: 379,
 1663: 380,
 1673: 381,
 1674: 382,
 1676: 383,
 1680: 384,
 1682: 385,
 1690: 386,
 1704: 387,
 1717: 388,
 1721: 389,
 1722: 390,
 1729: 391,
 1732: 392,
 1747: 393,
 1748: 394,
 1777: 395,
 1784: 396,
 1805: 397,
 1831: 398,
 1876: 399,
 1882: 400,
 1884: 401,
 1907: 402,
 1909: 403,
 1911: 404,
 1912: 405,
 1917: 406,
 1918: 407,
 1921: 408,
 1923: 409,
 1947: 410,
 1952: 411,
 1953: 412,
 1954: 413,
 1957: 414,
 1960: 415,
 1961: 416,
 1962: 417,
 1967: 418,
 1968: 419,
 1982: 420,
 1994: 421,
 1997: 422,
 2000: 423,
 2001: 424,
 2002: 425,
 2003: 426,
 2005: 427,
 2006: 428,
 2011: 429,
 2012: 430,
 2018: 431,
 2019: 432,
 2020: 433,
 2021: 434,
 2023: 435,
 2028: 436,
 2054: 437,
 2058: 438,
 2064: 439,
 2076: 440,
 2078: 441,
 2080: 442,
 2081: 443,
 2085: 444,
 2087: 445,
 2094: 446,
 2096: 447,
 2100: 448,
 2105: 449,
 2108: 450,
 2109: 451,
 2115: 452,
 2124: 453,
 2140: 454,
 2144: 455,
 2145: 456,
 2150: 457,
 2160: 458,
 2161: 459,
 2167: 460,
 2174: 461,
 2193: 462,
 2194: 463,
 2231: 464,
 2232: 465,
 2248: 466,
 2268: 467,
 2273: 468,
 2278: 469,
 2288: 470,
 2289: 471,
 2291: 472,
 2294: 473,
 2300: 474,
 2302: 475,
 2313: 476,
 2321: 477,
 2324: 478,
 2329: 479,
 2335: 480,
 2336: 481,
 2352: 482,
 2353: 483,
 2355: 484,
 2366: 485,
 2391: 486,
 2393: 487,
 2394: 488,
 2395: 489,
 2396: 490,
 2403: 491,
 2406: 492,
 2407: 493,
 2420: 494,
 2424: 495,
 2427: 496,
 2431: 497,
 2455: 498,
 2470: 499,
 2478: 500,
 2490: 501,
 2501: 502,
 2502: 503,
 2529: 504,
 2539: 505,
 2541: 506,
 2542: 507,
 2571: 508,
 2572: 509,
 2580: 510,
 2581: 511,
 2599: 512,
 2605: 513,
 2617: 514,
 2628: 515,
 2640: 516,
 2641: 517,
 2657: 518,
 2671: 519,
 2683: 520,
 2687: 521,
 2692: 522,
 2694: 523,
 2699: 524,
 2700: 525,
 2701: 526,
 2706: 527,
 2707: 528,
 2710: 529,
 2712: 530,
 2716: 531,
 2717: 532,
 2722: 533,
 2723: 534,
 2724: 535,
 2746: 536,
 2761: 537,
 2762: 538,
 2763: 539,
 2770: 540,
 2791: 541,
 2795: 542,
 2797: 543,
 2804: 544,
 2826: 545,
 2858: 546,
 2871: 547,
 2881: 548,
 2890: 549,
 2908: 550,
 2915: 551,
 2916: 552,
 2918: 553,
 2944: 554,
 2947: 555,
 2948: 556,
 2949: 557,
 2951: 558,
 2953: 559,
 2959: 560,
 2968: 561,
 2985: 562,
 2987: 563,
 2997: 564,
 3000: 565,
 3005: 566,
 3006: 567,
 3020: 568,
 3033: 569,
 3039: 570,
 3052: 571,
 3072: 572,
 3081: 573,
 3082: 574,
 3101: 575,
 3105: 576,
 3107: 577,
 3108: 578,
 3114: 579,
 3147: 580,
 3148: 581,
 3160: 582,
 3174: 583,
 3175: 584,
 3176: 585,
 3210: 586,
 3247: 587,
 3252: 588,
 3253: 589,
 3255: 590,
 3256: 591,
 3257: 592,
 3273: 593,
 3275: 594,
 3285: 595,
 3300: 596,
 3301: 597,
 3317: 598,
 3354: 599,
 3361: 600,
 3362: 601,
 3363: 602,
 3386: 603,
 3396: 604,
 3408: 605,
 3409: 606,
 3418: 607,
 3421: 608,
 3448: 609,
 3471: 610,
 3481: 611,
 3489: 612,
 3499: 613,
 3510: 614,
 3527: 615,
 3535: 616,
 3552: 617,
 3555: 618,
 3556: 619,
 3578: 620,
 3617: 621,
 3623: 622,
 3624: 623,
 3671: 624,
 3698: 625,
 3702: 626,
 3703: 627,
 3717: 628,
 3751: 629,
 3752: 630,
 3753: 631,
 3755: 632,
 3785: 633,
 3793: 634,
 3798: 635,
 3826: 636,
 3863: 637,
 3868: 638,
 3897: 639,
 3911: 640,
 3916: 641,
 3948: 642,
 3949: 643,
 3967: 644,
 3969: 645,
 3977: 646,
 3988: 647,
 3994: 648,
 3996: 649,
 4002: 650,
 4011: 651,
 4014: 652,
 4016: 653,
 4018: 654,
 4019: 655,
 4022: 656,
 4025: 657,
 4027: 658,
 4034: 659,
 4085: 660,
 4148: 661,
 4223: 662,
 4226: 663,
 4235: 664,
 4239: 665,
 4246: 666,
 4262: 667,
 4270: 668,
 4299: 669,
 4306: 670,
 4308: 671,
 4310: 672,
 4321: 673,
 4344: 674,
 4361: 675,
 4367: 676,
 4369: 677,
 4370: 678,
 4446: 679,
 4447: 680,
 4571: 681,
 4638: 682,
 4641: 683,
 4643: 684,
 4701: 685,
 4718: 686,
 4720: 687,
 4734: 688,
 4776: 689,
 4816: 690,
 4848: 691,
 4855: 692,
 4874: 693,
 4878: 694,
 4886: 695,
 4896: 696,
 4963: 697,
 4973: 698,
 4975: 699,
 4979: 700,
 4993: 701,
 4995: 702,
 5010: 703,
 5060: 704,
 5064: 705,
 5218: 706,
 5219: 707,
 5254: 708,
 5266: 709,
 5299: 710,
 5349: 711,
 5377: 712,
 5378: 713,
 5388: 714,
 5418: 715,
 5444: 716,
 5445: 717,
 5459: 718,
 5464: 719,
 5481: 720,
 5502: 721,
 5618: 722,
 5630: 723,
 5669: 724,
 5673: 725,
 5679: 726,
 5810: 727,
 5816: 728,
 5872: 729,
 5902: 730,
 5903: 731,
 5952: 732,
 5956: 733,
 5971: 734,
 5989: 735,
 5991: 736,
 5995: 737,
 6016: 738,
 6157: 739,
 6188: 740,
 6218: 741,
 6281: 742,
 6333: 743,
 6365: 744,
 6373: 745,
 6377: 746,
 6378: 747,
 6502: 748,
 6534: 749,
 6537: 750,
 6539: 751,
 6541: 752,
 6711: 753,
 6754: 754,
 6807: 755,
 6863: 756,
 6870: 757,
 6874: 758,
 6934: 759,
 6936: 760,
 6942: 761,
 6947: 762,
 6953: 763,
 7090: 764,
 7143: 765,
 7147: 766,
 7153: 767,
 7254: 768,
 7293: 769,
 7361: 770,
 7373: 771,
 7438: 772,
 7445: 773,
 7451: 774,
 7458: 775,
 8360: 776,
 8361: 777,
 8368: 778,
 8376: 779,
 8464: 780,
 8528: 781,
 8529: 782,
 8533: 783,
 8622: 784,
 8636: 785,
 8641: 786,
 8644: 787,
 8665: 788,
 8783: 789,
 8784: 790,
 8798: 791,
 8874: 792,
 8917: 793,
 8949: 794,
 8950: 795,
 8957: 796,
 8961: 797,
 8970: 798,
 8972: 799,
 8984: 800,
 27773: 801,
 30707: 802,
 30749: 803,
 30793: 804,
 30810: 805,
 30812: 806,
 30825: 807,
 31658: 808,
 31685: 809,
 31696: 810,
 32587: 811,
 33004: 812,
 33166: 813,
 33493: 814,
 33615: 815,
 33679: 816,
 33794: 817,
 34048: 818,
 34150: 819,
 34162: 820,
 34319: 821,
 34405: 822,
 35836: 823,
 36529: 824,
 37729: 825,
 38061: 826,
 39183: 827,
 40815: 828,
 40819: 829,
 41566: 830,
 41569: 831,
 44191: 832,
 44195: 833,
 44199: 834,
 44555: 835,
 44665: 836,
 45447: 837,
 45499: 838,
 45517: 839,
 45720: 840,
 45722: 841,
 46578: 842,
 46976: 843,
 47099: 844,
 47610: 845,
 48385: 846,
 48394: 847,
 48516: 848,
 48774: 849,
 48780: 850,
 49272: 851,
 49530: 852,
 50872: 853,
 51255: 854,
 51540: 855,
 51662: 856,
 52722: 857,
 52973: 858,
 53125: 859,
 53322: 860,
 53972: 861,
 53996: 862,
 54001: 863,
 54259: 864,
 54272: 865,
 54286: 866,
 54503: 867,
 54997: 868,
 55247: 869,
 55765: 870,
 55820: 871,
 56174: 872,
 56367: 873,
 56757: 874,
 56782: 875,
 57368: 876,
 57669: 877,
 58559: 878,
 58998: 879,
 59315: 880,
 59369: 881,
 59615: 882,
 59784: 883,
 60069: 884,
 60074: 885,
 60684: 886,
 61132: 887,
 61323: 888,
 63082: 889,
 63113: 890,
 64614: 891,
 64839: 892,
 64957: 893,
 66097: 894,
 68157: 895,
 68237: 896,
 68319: 897,
 68358: 898,
 68954: 899,
 69122: 900,
 69481: 901,
 69757: 902,
 69844: 903,
 70286: 904,
 71535: 905,
 72011: 906,
 72641: 907,
 72998: 908,
 73017: 909,
 74458: 910,
 74789: 911,
 76093: 912,
 76251: 913,
 77561: 914,
 78499: 915,
 79091: 916,
 79132: 917,
 79702: 918,
 80463: 919,
 81562: 920,
 81591: 921,
 81834: 922,
 81845: 923,
 81847: 924,
 82459: 925,
 84152: 926,
 85414: 927,
 86332: 928,
 86882: 929,
 87232: 930,
 88125: 931,
 88129: 932,
 88140: 933,
 88744: 934,
 89492: 935,
 89745: 936,
 91500: 937,
 91529: 938,
 91542: 939,
 91630: 940,
 91658: 941,
 92259: 942,
 93510: 943,
 93840: 944,
 94864: 945,
 94959: 946,
 95167: 947,
 96079: 948,
 96610: 949,
 96821: 950,
 97304: 951,
 97913: 952,
 97921: 953,
 97938: 954,
 98809: 955,
 99114: 956,
 102125: 957,
 102445: 958,
 102903: 959,
 104841: 960,
 106100: 961,
 106487: 962,
 106489: 963,
 106696: 964,
 106782: 965,
 106920: 966,
 108932: 967,
 109374: 968,
 109487: 969,
 110102: 970,
 111362: 971,
 111759: 972,
 112183: 973,
 112552: 974,
 112556: 975,
 112852: 976,
 115149: 977,
 115569: 978,
 115617: 979,
 115713: 980,
 116797: 981,
 116823: 982,
 119145: 983,
 122882: 984,
 122886: 985,
 122892: 986,
 122900: 987,
 122904: 988,
 122918: 989,
 122920: 990,
 122922: 991,
 134130: 992,
 134853: 993,
 139385: 994,
 148626: 995,
 152081: 996,
 164179: 997,
 166528: 998,
 168252: 999}

,userId,movieId,rating,timestamp,title,genres
16296,2,318,3.0,1445714835,"Shawshank Redemption, The (1994)",Crime|Drama
16297,5,318,3.0,847434880,"Shawshank Redemption, The (1994)",Crime|Drama
16298,6,318,5.0,845553200,"Shawshank Redemption, The (1994)",Crime|Drama
16299,8,318,5.0,839463489,"Shawshank Redemption, The (1994)",Crime|Drama
16300,11,318,4.0,902155070,"Shawshank Redemption, The (1994)",Crime|Drama
...,...,...,...,...,...,...
16608,606,318,3.5,1171927228,"Shawshank Redemption, The (1994)",Crime|Drama
16609,607,318,5.0,963080679,"Shawshank Redemption, The (1994)",Crime|Drama
16610,608,318,4.5,1147210910,"Shawshank Redemption, The (1994)",Crime|Drama
16611,609,318,4.0,847220907,"Shawshank Redemption, The (1994)",Crime|Drama
16612,610,318,3.0,1479541963,"Shawshank Redemption, The (1994)",Crime|Drama

In [86]:
df[df['movieId']==318]
data =[]
movieId2idx = {}
for index, (movieId, temp_df) in enumerate(df.groupby('movieId')):
    movieId2idx[movieId]=index
    zeros = [0]*max(df['userId'])
    for userId,movieId,rating in temp_df.itertuples(index=False):
        zeros[userId-1]=rating/5
    
    data.append(zeros)
np_data = np.array(data)

In [19]:
# Compute cosine similarity
similarities = cosine_similarity(table)

In [131]:
# Saving as data as files
np.savetxt('data/similarities.csv',similarities,delimiter=',')
reusables.save_json(movieId2idx,'data/movieId2idx.json')
reusables.save_json( movieId2title,'./data/movieId2title.json')
reusables.save_json(idx2movieId,'./data/idx2movieId.json')

## Get Recomms

In [2]:
# Load up the files
similarities = np.loadtxt('data/similarities.csv',delimiter=',')
movieId2idx = reusables.load_json('data/movieId2idx.json')
movieId2title = reusables.load_json( './data/movieId2title.json')
idx2movieId = reusables.load_json('./data/idx2movieId.json')

# Titles, This array is send to front end as choices
TITLES = movieId2title

In [29]:

def get_recoms(liked_titles,no_of_recoms=10):
    liked_titles=[movieId2idx[str(i)] for i in liked_titles if str(i) in movieId2idx.keys()]
    number_of_titles = len(liked_titles)
    sim = similarities[number_of_titles].sum(axis=0).argsort()[::-1][number_of_titles:no_of_recoms+number_of_titles] 
    recoms = [movieId2title[str(idx2movieId[str(i)])] for i in sim]
    return recoms

In [30]:
# my movie prefrences
my_movie_lst=[50, 318, 527, 589, 1240, 2959, 4226, 4963, 5989, 8131, 8950, 26614, 33794, 35836, 44665, 48385, 48516, 48780, 49530, 51540, 52973, 55290, 58559, 59315, 73881, 74458, 74946, 77561, 79132, 80549, 81845, 84152, 84374, 85414, 86332, 87232, 87869, 88140, 88405, 89745, 91529, 91658, 92259, 102125, 102407, 102903, 104879, 105844, 106072, 106782, 109374, 110102, 112175, 112556, 114935, 115569, 115617, 116797, 119145, 122892, 122900, 122904, 122906, 122912, 122914, 122916, 122920, 122922, 134130, 142488, 150548, 152081, 157699, 168250, 168252, 194448, 202439]

In [31]:
get_recoms(my_movie_lst)

[]

In [32]:
list(movieId2title.items())

[('296', 'Pulp Fiction (1994)'),
 ('306', 'Three Colors: Red (Trois couleurs: Rouge) (1994)'),
 ('307', 'Three Colors: Blue (Trois couleurs: Bleu) (1993)'),
 ('899', "Singin' in the Rain (1952)"),
 ('1088', 'Dirty Dancing (1987)'),
 ('1175', 'Delicatessen (1991)'),
 ('1250', 'Bridge on the River Kwai, The (1957)'),
 ('1653', 'Gattaca (1997)'),
 ('2011', 'Back to the Future Part II (1989)'),
 ('2012', 'Back to the Future Part III (1990)'),
 ('2161', 'NeverEnding Story, The (1984)'),
 ('2692', 'Run Lola Run (Lola rennt) (1998)'),
 ('3448', 'Good Morning, Vietnam (1987)'),
 ('3949', 'Requiem for a Dream (2000)'),
 ('4308', 'Moulin Rouge (2001)'),
 ('4973', "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)"),
 ('5952', 'Lord of the Rings: The Two Towers, The (2002)'),
 ('6016', 'City of God (Cidade de Deus) (2002)'),
 ('6377', 'Finding Nemo (2003)'),
 ('6539', 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)'),
 ('6711', 'Lost in Translation (2003)'),
 ('7361', 'Eternal Sunshine of the Spotless Mind (2004)'),
 ('8360', 'Shrek 2 (2004)'),
 ('1', 'Toy Story (1995)'),
 ('62', "Mr. Holland's Opus (1995)"),
 ('110', 'Braveheart (1995)'),
 ('150', 'Apollo 13 (1995)'),
 ('151', 'Rob Roy (1995)'),
 ('236', 'French Kiss (1995)'),
 ('260', 'Star Wars: Episode IV - A New Hope (1977)'),
 ('261', 'Little Women (1994)'),
 ('266', 'Legends of the Fall (1994)'),
 ('318', 'Shawshank Redemption, The (1994)'),
 ('333', 'Tommy Boy (1995)'),
 ('349', 'Clear and Present Danger (1994)'),
 ('356', 'Forrest Gump (1994)'),
 ('364', 'Lion King, The (1994)'),
 ('380', 'True Lies (1994)'),
 ('457', 'Fugitive, The (1993)'),
 ('480', 'Jurassic Park (1993)'),
 ('497', 'Much Ado About Nothing (1993)'),
 ('524', 'Rudy (1993)'),
 ('527', "Schindler's List (1993)"),
 ('553', 'Tombstone (1993)'),
 ('588', 'Aladdin (1992)'),
 ('589', 'Terminator 2: Judgment Day (1991)'),
 ('653', 'Dragonheart (1996)'),
 ('733', 'Rock, The (1996)'),
 ('858', 'Godfather, The (1972)'),
 ('914', 'My Fair Lady (1964)'),
 ('953', "It's a Wonderful Life (1946)"),
 ('1035', 'Sound of Music, The (1965)'),
 ('1080', "Monty Python's Life of Brian (1979)"),
 ('1136', 'Monty Python and the Holy Grail (1975)'),
 ('1196', 'Star Wars: Episode V - The Empire Strikes Back (1980)'),
 ('1197', 'Princess Bride, The (1987)'),
 ('1198',
  'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)'),
 ('1201',
  'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)'),
 ('1210', 'Star Wars: Episode VI - Return of the Jedi (1983)'),
 ('1246', 'Dead Poets Society (1989)'),
 ('1270', 'Back to the Future (1985)'),
 ('1271', 'Fried Green Tomatoes (1991)'),
 ('1275', 'Highlander (1986)'),
 ('1287', 'Ben-Hur (1959)'),
 ('1291', 'Indiana Jones and the Last Crusade (1989)'),
 ('1293', 'Gandhi (1982)'),
 ('1299', 'Killing Fields, The (1984)'),
 ('1302', 'Field of Dreams (1989)'),
 ('1356', 'Star Trek: First Contact (1996)'),
 ('1374', 'Star Trek II: The Wrath of Khan (1982)'),
 ('1376', 'Star Trek IV: The Voyage Home (1986)'),
 ('1393', 'Jerry Maguire (1996)'),
 ('1485', 'Liar Liar (1997)'),
 ('1527', 'Fifth Element, The (1997)'),
 ('1580', 'Men in Black (a.k.a. MIB) (1997)'),
 ('1584', 'Contact (1997)'),
 ('1587', 'Conan the Barbarian (1982)'),
 ('1610', 'Hunt for Red October, The (1990)'),
 ('1674', 'Witness (1985)'),
 ('1682', 'Truman Show, The (1998)'),
 ('1722', 'Tomorrow Never Dies (1997)'),
 ('1907', 'Mulan (1998)'),
 ('1923', "There's Something About Mary (1998)"),
 ('1957', 'Chariots of Fire (1981)'),
 ('1968', 'Breakfast Club, The (1985)'),
 ('2028', 'Saving Private Ryan (1998)'),
 ('2081', 'Little Mermaid, The (1989)'),
 ('2115', 'Indiana Jones and the Temple of Doom (1984)'),
 ('2150', 'Gods Must Be Crazy, The (1980)'),
 ('2194', 'Untouchables, The (1987)'),
 ('2268', 'Few Good Men, A (1992)'),
 ('2273', 'Rush Hour (1998)'),
 ('2294', 'Antz (1998)'),
 ('2324', 'Life Is Beautiful (La Vita è bella) (1997)'),
 ('2355', "Bug's Life, A (1998)"),
 ('2406', 'Romancing the Stone (1984)'),
 ('2470', 'Crocodile Dundee (1986)'),
 ('2501', 'October Sky (1999)'),
 ('2571', 'Matrix, The (1999)'),
 ('2617', 'Mummy, The (1999)'),
 ('2640', 'Superman (1978)'),
 ('2694', 'Big Daddy (1999)'),
 ('2761', 'Iron Giant, The (1999)'),
 ('2762', 'Sixth Sense, The (1999)'),
 ('2797', 'Big (1988)'),
 ('2918', "Ferris Bueller's Day Off (1986)"),
 ('2987', 'Who Framed Roger Rabbit? (1988)'),
 ('3105', 'Awakenings (1990)'),
 ('3107', 'Backdraft (1991)'),
 ('3114', 'Toy Story 2 (1999)'),
 ('3148', 'Cider House Rules, The (1999)'),
 ('3175', 'Galaxy Quest (1999)'),
 ('3396', 'Muppet Movie, The (1979)'),
 ('3510', 'Frequency (2000)'),
 ('3578', 'Gladiator (2000)'),
 ('3793', 'X-Men (2000)'),
 ('3916', 'Remember the Titans (2000)'),
 ('3948', 'Meet the Parents (2000)'),
 ('3994', 'Unbreakable (2000)'),
 ('4016', "Emperor's New Groove, The (2000)"),
 ('4019', 'Finding Forrester (2000)'),
 ('4022', 'Cast Away (2000)'),
 ('4299', "Knight's Tale, A (2001)"),
 ('4306', 'Shrek (2001)'),
 ('4571', "Bill & Ted's Excellent Adventure (1989)"),
 ('4720', 'Others, The (2001)'),
 ('4874', 'K-PAX (2001)'),
 ('4886', 'Monsters, Inc. (2001)'),
 ('4896',
  "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)"),
 ('4963', "Ocean's Eleven (2001)"),
 ('4993', 'Lord of the Rings: The Fellowship of the Ring, The (2001)'),
 ('4995', 'Beautiful Mind, A (2001)'),
 ('5010', 'Black Hawk Down (2001)'),
 ('5349', 'Spider-Man (2002)'),
 ('5418', 'Bourne Identity, The (2002)'),
 ('5445', 'Minority Report (2002)'),
 ('5816', 'Harry Potter and the Chamber of Secrets (2002)'),
 ('6157', 'Daredevil (2003)'),
 ('6333', 'X2: X-Men United (2003)'),
 ('6947', 'Master and Commander: The Far Side of the World (2003)'),
 ('7090', 'Hero (Ying xiong) (2002)'),
 ('7143', 'Last Samurai, The (2003)'),
 ('7153', 'Lord of the Rings: The Return of the King, The (2003)'),
 ('8368', 'Harry Potter and the Prisoner of Azkaban (2004)'),
 ('8636', 'Spider-Man 2 (2004)'),
 ('8665', 'Bourne Supremacy, The (2004)'),
 ('8961', 'Incredibles, The (2004)'),
 ('8970', 'Finding Neverland (2004)'),
 ('30749', 'Hotel Rwanda (2004)'),
 ('33166', 'Crash (2004)'),
 ('33493', 'Star Wars: Episode III - Revenge of the Sith (2005)'),
 ('33794', 'Batman Begins (2005)'),
 ('34162', 'Wedding Crashers (2005)'),
 ('35836', '40-Year-Old Virgin, The (2005)'),
 ('40815', 'Harry Potter and the Goblet of Fire (2005)'),
 ('29', 'City of Lost Children, The (Cité des enfants perdus, La) (1995)'),
 ('32', 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)'),
 ('50', 'Usual Suspects, The (1995)'),
 ('111', 'Taxi Driver (1976)'),
 ('172', 'Johnny Mnemonic (1995)'),
 ('173', 'Judge Dredd (1995)'),
 ('293', 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)'),
 ('442', 'Demolition Man (1993)'),
 ('541', 'Blade Runner (1982)'),
 ('593', 'Silence of the Lambs, The (1991)'),
 ('741', 'Ghost in the Shell (Kôkaku kidôtai) (1995)'),
 ('745', 'Wallace & Gromit: A Close Shave (1995)'),
 ('778', 'Trainspotting (1996)'),
 ('780', 'Independence Day (a.k.a. ID4) (1996)'),
 ('912', 'Casablanca (1942)'),
 ('913', 'Maltese Falcon, The (1941)'),
 ('924', '2001: A Space Odyssey (1968)'),
 ('1089', 'Reservoir Dogs (1992)'),
 ('1127', 'Abyss, The (1989)'),
 ('1148', 'Wallace & Gromit: The Wrong Trousers (1993)'),
 ('1200', 'Aliens (1986)'),
 ('1206', 'Clockwork Orange, A (1971)'),
 ('1208', 'Apocalypse Now (1979)'),
 ('1213', 'Goodfellas (1990)'),
 ('1214', 'Alien (1979)'),
 ('1221', 'Godfather: Part II, The (1974)'),
 ('1222', 'Full Metal Jacket (1987)'),
 ('1240', 'Terminator, The (1984)'),
 ('1252', 'Chinatown (1974)'),
 ('1274', 'Akira (1988)'),
 ('1320', 'Alien³ (a.k.a. Alien 3) (1992)'),
 ('1676', 'Starship Troopers (1997)'),
 ('1732', 'Big Lebowski, The (1998)'),
 ('1748', 'Dark City (1998)'),
 ('1882', 'Godzilla (1998)'),
 ('1909', 'X-Files: Fight the Future, The (1998)'),
 ('1960', 'Last Emperor, The (1987)'),
 ('2019', 'Seven Samurai (Shichinin no samurai) (1954)'),
 ('2021', 'Dune (1984)'),
 ('2105', 'Tron (1982)'),
 ('2329', 'American History X (1998)'),
 ('2542', 'Lock, Stock & Two Smoking Barrels (1998)'),
 ('2628', 'Star Wars: Episode I - The Phantom Menace (1999)'),
 ('2641', 'Superman II (1980)'),
 ('2858', 'American Beauty (1999)'),
 ('2959', 'Fight Club (1999)'),
 ('3285', 'Beach, The (2000)'),
 ('3300', 'Pitch Black (2000)'),
 ('3301', 'Whole Nine Yards, The (2000)'),
 ('3408', 'Erin Brockovich (2000)'),
 ('3471', 'Close Encounters of the Third Kind (1977)'),
 ('3527', 'Predator (1987)'),
 ('3535', 'American Psycho (2000)'),
 ('3702', 'Mad Max (1979)'),
 ('3751', 'Chicken Run (2000)'),
 ('3753', 'Patriot, The (2000)'),
 ('3755', 'Perfect Storm, The (2000)'),
 ('3785', 'Scary Movie (2000)'),
 ('3798', 'What Lies Beneath (2000)'),
 ('3863', 'Cell, The (2000)'),
 ('3969', 'Pay It Forward (2000)'),
 ('3977', "Charlie's Angels (2000)"),
 ('3988', 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)'),
 ('3996', 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)'),
 ('4011', 'Snatch (2000)'),
 ('4018', 'What Women Want (2000)'),
 ('4025', 'Miss Congeniality (2000)'),
 ('4027', 'O Brother, Where Art Thou? (2000)'),
 ('4034', 'Traffic (2000)'),
 ('4148', 'Hannibal (2001)'),
 ('4226', 'Memento (2000)'),
 ('4246', "Bridget Jones's Diary (2001)"),
 ('4262', 'Scarface (1983)'),
 ('4344', 'Swordfish (2001)'),
 ('4367', 'Lara Croft: Tomb Raider (2001)'),
 ('4369', 'Fast and the Furious, The (2001)'),
 ('4447', 'Legally Blonde (2001)'),
 ('4643', 'Planet of the Apes (2001)'),
 ('4701', 'Rush Hour 2 (2001)'),
 ('4718', 'American Pie 2 (2001)'),
 ('4776', 'Training Day (2001)'),
 ('4816', 'Zoolander (2001)'),
 ('4975', 'Vanilla Sky (2001)'),
 ('4979', 'Royal Tenenbaums, The (2001)'),
 ('5218', 'Ice Age (2002)'),
 ('5219', 'Resident Evil (2002)'),
 ('5254', 'Blade II (2002)'),
 ('5266', 'Panic Room (2002)'),
 ('5377', 'About a Boy (2002)'),
 ('5378', 'Star Wars: Episode II - Attack of the Clones (2002)'),
 ('5388', 'Insomnia (2002)'),
 ('5459', 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)'),
 ('5502', 'Signs (2002)'),
 ('5630', 'Red Dragon (2002)'),
 ('5669', 'Bowling for Columbine (2002)'),
 ('5679', 'Ring, The (2002)'),
 ('5810', '8 Mile (2002)'),
 ('5872', 'Die Another Day (2002)'),
 ('5903', 'Equilibrium (2002)'),
 ('5956', 'Gangs of New York (2002)'),
 ('5989', 'Catch Me If You Can (2002)'),
 ('5991', 'Chicago (2002)'),
 ('6281', 'Phone Booth (2002)'),
 ('6365', 'Matrix Reloaded, The (2003)'),
 ('6373', 'Bruce Almighty (2003)'),
 ('6378', 'Italian Job, The (2003)'),
 ('6502', '28 Days Later (2002)'),
 ('6534', 'Hulk (2003)'),
 ('6537', 'Terminator 3: Rise of the Machines (2003)'),
 ('6541', 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)'),
 ('6754', 'Underworld (2003)'),
 ('6863', 'School of Rock (2003)'),
 ('6870', 'Mystic River (2003)'),
 ('6874', 'Kill Bill: Vol. 1 (2003)'),
 ('6934', 'Matrix Revolutions, The (2003)'),
 ('7147', 'Big Fish (2003)'),
 ('7293', '50 First Dates (2004)'),
 ('7373', 'Hellboy (2004)'),
 ('7438', 'Kill Bill: Vol. 2 (2004)'),
 ('7445', 'Man on Fire (2004)'),
 ('7458', 'Troy (2004)'),
 ('8361', 'Day After Tomorrow, The (2004)'),
 ('8528', 'Dodgeball: A True Underdog Story (2004)'),
 ('8529', 'Terminal, The (2004)'),
 ('8641', 'Anchorman: The Legend of Ron Burgundy (2004)'),
 ('8644', 'I, Robot (2004)'),
 ('8783', 'Village, The (2004)'),
 ('8798', 'Collateral (2004)'),
 ('8874', 'Shaun of the Dead (2004)'),
 ('8984', "Ocean's Twelve (2004)"),
 ('27773', 'Old Boy (2003)'),
 ('30707', 'Million Dollar Baby (2004)'),
 ('30793', 'Charlie and the Chocolate Factory (2005)'),
 ('30825', 'Meet the Fockers (2004)'),
 ('31685', 'Hitch (2005)'),
 ('31696', 'Constantine (2005)'),
 ('32587', 'Sin City (2005)'),
 ('33004', "Hitchhiker's Guide to the Galaxy, The (2005)"),
 ('33615', 'Madagascar (2005)'),
 ('33679', 'Mr. & Mrs. Smith (2005)'),
 ('34048', 'War of the Worlds (2005)'),
 ('34150', 'Fantastic Four (2005)'),
 ('34319', 'Island, The (2005)'),
 ('34405', 'Serenity (2005)'),
 ('36529', 'Lord of War (2005)'),
 ('37729', 'Corpse Bride (2005)'),
 ('40819', 'Walk the Line (2005)'),
 ('41566',
  'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)'),
 ('41569', 'King Kong (2005)'),
 ('44191', 'V for Vendetta (2006)'),
 ('45447', 'Da Vinci Code, The (2006)'),
 ('45499', 'X-Men: The Last Stand (2006)'),
 ('45517', 'Cars (2006)'),
 ('45722', "Pirates of the Caribbean: Dead Man's Chest (2006)"),
 ('46578', 'Little Miss Sunshine (2006)'),
 ('47610', 'Illusionist, The (2006)'),
 ('48385',
  'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)'),
 ('48394', "Pan's Labyrinth (Laberinto del fauno, El) (2006)"),
 ('48516', 'Departed, The (2006)'),
 ('48774', 'Children of Men (2006)'),
 ('48780', 'Prestige, The (2006)'),
 ('49272', 'Casino Royale (2006)'),
 ('49530', 'Blood Diamond (2006)'),
 ('50872', 'Ratatouille (2007)'),
 ('51255', 'Hot Fuzz (2007)'),
 ('51662', '300 (2007)'),
 ('52722', 'Spider-Man 3 (2007)'),
 ('53125', "Pirates of the Caribbean: At World's End (2007)"),
 ('53972', 'Live Free or Die Hard (2007)'),
 ('53996', 'Transformers (2007)'),
 ('54001', 'Harry Potter and the Order of the Phoenix (2007)'),
 ('54286', 'Bourne Ultimatum, The (2007)'),
 ('54503', 'Superbad (2007)'),
 ('54997', '3:10 to Yuma (2007)'),
 ('55765', 'American Gangster (2007)'),
 ('55820', 'No Country for Old Men (2007)'),
 ('56174', 'I Am Legend (2007)'),
 ('56782', 'There Will Be Blood (2007)'),
 ('57368', 'Cloverfield (2008)'),
 ('57669', 'In Bruges (2008)'),
 ('58559', 'Dark Knight, The (2008)'),
 ('59315', 'Iron Man (2008)'),
 ('59369', 'Taken (2008)'),
 ('59615', 'Indiana Jones and the Kingdom of the Crystal Skull (2008)'),
 ('59784', 'Kung Fu Panda (2008)'),
 ('60069', 'WALL·E (2008)'),
 ('60074', 'Hancock (2008)'),
 ('60684', 'Watchmen (2009)'),
 ('61132', 'Tropic Thunder (2008)'),
 ('61323', 'Burn After Reading (2008)'),
 ('63113', 'Quantum of Solace (2008)'),
 ('64614', 'Gran Torino (2008)'),
 ('64839', 'Wrestler, The (2008)'),
 ('64957', 'Curious Case of Benjamin Button, The (2008)'),
 ('66097', 'Coraline (2009)'),
 ('68157', 'Inglourious Basterds (2009)'),
 ('68319', 'X-Men Origins: Wolverine (2009)'),
 ('68358', 'Star Trek (2009)'),
 ('69122', 'Hangover, The (2009)'),
 ('69481', 'Hurt Locker, The (2008)'),
 ('69844', 'Harry Potter and the Half-Blood Prince (2009)'),
 ('70286', 'District 9 (2009)'),
 ('71535', 'Zombieland (2009)'),
 ('72011', 'Up in the Air (2009)'),
 ('72641', 'Blind Side, The  (2009)'),
 ('72998', 'Avatar (2009)'),
 ('73017', 'Sherlock Holmes (2009)'),
 ('74458', 'Shutter Island (2010)'),
 ('74789', 'Alice in Wonderland (2010)'),
 ('76093', 'How to Train Your Dragon (2010)'),
 ('76251', 'Kick-Ass (2010)'),
 ('77561', 'Iron Man 2 (2010)'),
 ('78499', 'Toy Story 3 (2010)'),
 ('79091', 'Despicable Me (2010)'),
 ('79132', 'Inception (2010)'),
 ('80463', 'Social Network, The (2010)'),
 ('81591', 'Black Swan (2010)'),
 ('81834', 'Harry Potter and the Deathly Hallows: Part 1 (2010)'),
 ('81845', "King's Speech, The (2010)"),
 ('84152', 'Limitless (2011)'),
 ('85414', 'Source Code (2011)'),
 ('86332', 'Thor (2011)'),
 ('87232', 'X-Men: First Class (2011)'),
 ('88125', 'Harry Potter and the Deathly Hallows: Part 2 (2011)'),
 ('88140', 'Captain America: The First Avenger (2011)'),
 ('88744', 'Rise of the Planet of the Apes (2011)'),
 ('89492', 'Moneyball (2011)'),
 ('89745', 'Avengers, The (2012)'),
 ('91500', 'The Hunger Games (2012)'),
 ('91529', 'Dark Knight Rises, The (2012)'),
 ('91542', 'Sherlock Holmes: A Game of Shadows (2011)'),
 ('91630', 'Mission: Impossible - Ghost Protocol (2011)'),
 ('91658', 'Girl with the Dragon Tattoo, The (2011)'),
 ('94864', 'Prometheus (2012)'),
 ('96079', 'Skyfall (2012)'),
 ('96610', 'Looper (2012)'),
 ('97921', 'Silver Linings Playbook (2012)'),
 ('98809', 'Hobbit: An Unexpected Journey, The (2012)'),
 ('99114', 'Django Unchained (2012)'),
 ('102125', 'Iron Man 3 (2013)'),
 ('102445', 'Star Trek Into Darkness (2013)'),
 ('102903', 'Now You See Me (2013)'),
 ('104841', 'Gravity (2013)'),
 ('106100', 'Dallas Buyers Club (2013)'),
 ('106487', 'The Hunger Games: Catching Fire (2013)'),
 ('106489', 'Hobbit: The Desolation of Smaug, The (2013)'),
 ('106782', 'Wolf of Wall Street, The (2013)'),
 ('106920', 'Her (2013)'),
 ('108932', 'The Lego Movie (2014)'),
 ('109374', 'Grand Budapest Hotel, The (2014)'),
 ('109487', 'Interstellar (2014)'),
 ('110102', 'Captain America: The Winter Soldier (2014)'),
 ('111362', 'X-Men: Days of Future Past (2014)'),
 ('111759', 'Edge of Tomorrow (2014)'),
 ('112552', 'Whiplash (2014)'),
 ('112556', 'Gone Girl (2014)'),
 ('112852', 'Guardians of the Galaxy (2014)'),
 ('115569', 'Nightcrawler (2014)'),
 ('115617', 'Big Hero 6 (2014)'),
 ('115713', 'Ex Machina (2015)'),
 ('116797', 'The Imitation Game (2014)'),
 ('116823', 'The Hunger Games: Mockingjay - Part 1 (2014)'),
 ('122882', 'Mad Max: Fury Road (2015)'),
 ('122886', 'Star Wars: Episode VII - The Force Awakens (2015)'),
 ('122892', 'Avengers: Age of Ultron (2015)'),
 ('122900', 'Ant-Man (2015)'),
 ('122918', 'Guardians of the Galaxy 2 (2017)'),
 ('122920', 'Captain America: Civil War (2016)'),
 ('122922', 'Doctor Strange (2016)'),
 ('134130', 'The Martian (2015)'),
 ('134853', 'Inside Out (2015)'),
 ('139385', 'The Revenant (2015)'),
 ('148626', 'Big Short, The (2015)'),
 ('164179', 'Arrival (2016)'),
 ('166528', 'Rogue One: A Star Wars Story (2016)'),
 ('168252', 'Logan (2017)'),
 ('1036', 'Die Hard (1988)'),
 ('1220', 'Blues Brothers, The (1980)'),
 ('1265', 'Groundhog Day (1993)'),
 ('1278', 'Young Frankenstein (1974)'),
 ('1288', 'This Is Spinal Tap (1984)'),
 ('2716', 'Ghostbusters (a.k.a. Ghost Busters) (1984)'),
 ('2791', 'Airplane! (1980)'),
 ('2951', 'Fistful of Dollars, A (Per un pugno di dollari) (1964)'),
 ('2985', 'RoboCop (1987)'),
 ('3033', 'Spaceballs (1987)'),
 ('3039', 'Trading Places (1983)'),
 ('3624', 'Shanghai Noon (2000)'),
 ('3671', 'Blazing Saddles (1974)'),
 ('5299', 'My Big Fat Greek Wedding (2002)'),
 ('5444', 'Lilo & Stitch (2002)'),
 ('5618', 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)'),
 ('7451', 'Mean Girls (2004)'),
 ('44665', 'Lucky Number Slevin (2006)'),
 ('68954', 'Up (2009)'),
 ('79702', 'Scott Pilgrim vs. the World (2010)'),
 ('93510', '21 Jump Street (2012)'),
 ('93840', 'Cabin in the Woods, The (2012)'),
 ('97304', 'Argo (2012)'),
 ('97913', 'Wreck-It Ralph (2012)'),
 ('115149', 'John Wick (2014)'),
 ('119145', 'Kingsman: The Secret Service (2015)'),
 ('122904', 'Deadpool (2016)'),
 ('152081', 'Zootopia (2016)'),
 ('19', 'Ace Ventura: When Nature Calls (1995)'),
 ('36', 'Dead Man Walking (1995)'),
 ('39', 'Clueless (1995)'),
 ('47', 'Seven (a.k.a. Se7en) (1995)'),
 ('95', 'Broken Arrow (1996)'),
 ('104', 'Happy Gilmore (1996)'),
 ('141', 'Birdcage, The (1996)'),
 ('153', 'Batman Forever (1995)'),
 ('170', 'Hackers (1995)'),
 ('216', 'Billy Madison (1995)'),
 ('224', 'Don Juan DeMarco (1995)'),
 ('231', 'Dumb & Dumber (Dumb and Dumber) (1994)'),
 ('235', 'Ed Wood (1994)'),
 ('253', 'Interview with the Vampire: The Vampire Chronicles (1994)'),
 ('277', 'Miracle on 34th Street (1994)'),
 ('288', 'Natural Born Killers (1994)'),
 ('292', 'Outbreak (1995)'),
 ('300', 'Quiz Show (1994)'),
 ('337', "What's Eating Gilbert Grape (1993)"),
 ('342', "Muriel's Wedding (1994)"),
 ('344', 'Ace Ventura: Pet Detective (1994)'),
 ('350', 'Client, The (1994)'),
 ('372', 'Reality Bites (1994)'),
 ('432', "City Slickers II: The Legend of Curly's Gold (1994)"),
 ('435', 'Coneheads (1993)'),
 ('440', 'Dave (1993)'),
 ('441', 'Dazed and Confused (1993)'),
 ('500', 'Mrs. Doubtfire (1993)'),
 ('590', 'Dances with Wolves (1990)'),
 ('592', 'Batman (1989)'),
 ('595', 'Beauty and the Beast (1991)'),
 ('608', 'Fargo (1996)'),
 ('628', 'Primal Fear (1996)'),
 ('736', 'Twister (1996)'),
 ('784', 'Cable Guy, The (1996)'),
 ('786', 'Eraser (1996)'),
 ('788', 'Nutty Professor, The (1996)'),

In [28]:
sim

array([], dtype=int64)

## Junk Code

In [ ]:
lst = []
for a,b in combinations(my_movie_lst,2):
    if a in movieId2idx.keys() and b in movieId2idx.keys():
        lst.append((int(similarities[movieId2idx[a],movieId2idx[b]]*100),movieId2title[a], movieId2title[b]))
#         print('{} -> {} <- {}'.format(movieId2title[a],int(similarities[movieId2idx[a],movieId2idx[b]]*100), movieId2title[b]))

In [ ]:
np.where(similarities == np.amax(similarities))

In [176]:
similarities.any(max)

TypeError: 'builtin_function_or_method' object cannot be interpreted as an integer

In [91]:
np_data[movieId2idx[349],216]

0.8

In [78]:
np_data.shape

(9724, 610)

In [76]:
df['userId'].drop_duplicates().reset_index()

     index  userId
0        0       1
1        1       5
2        2       7
3        3      15
4        4      17
..     ...     ...
605  17958     506
606  19327     397
607  20099     556
608  26682     175
609  33463     578

[610 rows x 2 columns]

In [16]:
test = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

In [17]:
test

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [21]:
np.array(test['month'])

array([ 1,  4,  7, 10], dtype=int64)

In [173]:
id_to_title_df = df[["movieId","title"]].drop_duplicates()

          movieId                                             title
0             296                               Pulp Fiction (1994)
79672         306  Three Colors: Red (Trois couleurs: Rouge) (1994)
86730         307  Three Colors: Blue (Trois couleurs: Bleu) (1993)
93346         665                                Underground (1995)
94615         899                        Singin' in the Rain (1952)
...           ...                                               ...
25000090   200192                       Den frusna leoparden (1986)
25000091   200194                                 Tough Luck (2004)
25000092   139970                      I Don't Speak English (1995)
25000093   200726                              The Graduates (1995)
25000094   200728                        Il pesce innamorato (1999)

[59047 rows x 2 columns]

In [121]:
id_to_title_dict =defaultdict(lambda:'NA', df[["movieId","title"]].set_index('movieId').drop_duplicates().to_dict()['title'])

In [ ]:
del rating_df, movie_df, new_df

In [3]:
ratings.sort_values('number_of_ratings', ascending=False).head(10)

                                                     rating  number_of_ratings
movieId title
356     Forrest Gump (1994)                        4.048011              81491
318     Shawshank Redemption, The (1994)           4.413576              81482
296     Pulp Fiction (1994)                        4.188912              79672
593     Silence of the Lambs, The (1991)           4.151342              74127
2571    Matrix, The (1999)                         4.154099              72674
260     Star Wars: Episode IV - A New Hope (1977)  4.120189              68717
480     Jurassic Park (1993)                       3.679175              64144
527     Schindler's List (1993)                    4.247579              60411
110     Braveheart (1995)                          4.002273              59184
2959    Fight Club (1999)                          4.228311              58773

In [4]:
ratings.drop(ratings[ratings['number_of_ratings']<30].index, inplace=True)

#

In [104]:
my_movie_lst=[50, 318, 527, 589, 1240, 2959, 4226, 4963, 5989, 8131, 8950, 26614, 33794, 35836, 44665, 48385, 48516, 48780, 49530, 51540, 52973, 55290, 58559, 59315, 73881, 74458, 74946, 77561, 79132, 80549, 81845, 84152, 84374, 85414, 86332, 87232, 87869, 88140, 88405, 89745, 91529, 91658, 92259, 102125, 102407, 102903, 104879, 105844, 106072, 106782, 109374, 110102, 112175, 112556, 114935, 115569, 115617, 116797, 119145, 122892, 122900, 122904, 122906, 122912, 122914, 122916, 122920, 122922, 134130, 142488, 150548, 152081, 157699, 168250, 168252, 194448, 202439]

In [105]:
test_df = df[df['movieId']
   .isin(my_movie_lst) & (df['rating'] > 3.9)]
test_df.shape

(772072, 6)

In [109]:
test_df.groupby('userId').count()

        movieId  rating  timestamp  title  genres
userId
2             5       5          5      5       5
3            41      41         41     41      41
4            14      14         14     14      14
5             1       1          1      1       1
6             2       2          2      2       2
...         ...     ...        ...    ...     ...
162536       12      12         12     12      12
162537        2       2          2      2       2
162538        6       6          6      6       6
162540        2       2          2      2       2
162541        7       7          7      7       7

[129260 rows x 5 columns]

In [112]:
no_of_user_selected_movies = len(test_df.groupby('movieId').count())
user_df = pd.DataFrame(test_df.groupby('userId').count()['movieId'])
user_df['similar'] =user_df.apply(lambda row: row.movieId/no_of_user_selected_movies, axis = 1) 
user_df.sort_values('similar', ascending=False, inplace=True)

In [113]:
similar_user_lst = user_df.index
total_similar_user_count = len(similar_user_lst)

In [157]:
recom_movies = df[df['userId'].isin(similar_user_lst) & ~df['title'].isin(my_movie_lst) & (df['rating']>3.9)]
# recom_movies.drop_duplicates(['title']).sort_values(['rating'], ascending=False).head(10)
recom_movies.shape

TypeError: 'tuple' object is not callable

In [178]:
rm = recom_movies.groupby('movieId').count().sort_values(['userId'], ascending=False)\
    .reset_index()[['movieId','userId','rating']]
rm.drop(rm[rm['userId']<9].index, inplace=True)
# recom_movies['title'] =recom_movies.apply(lambda row: id_to_title_dict[row.movieId], axis = 1)
rm.drop_duplicates('movieId', inplace=True)
rm

       movieId  userId  rating
0          318   70514   70514
1          296   59172   59172
2          356   54725   54725
3          593   54567   54567
4         2571   53682   53682
...        ...     ...     ...
15705   159153       9       9
15706    83540       9       9
15707    86478       9       9
15708    72045       9       9
15709   157176       9       9

[15710 rows x 3 columns]

In [195]:
rm2= pd.merge(rm, id_to_title_df)
rm2.head(40)

    movieId  userId  rating                                              title
0       318   70514   70514                   Shawshank Redemption, The (1994)
1       296   59172   59172                                Pulp Fiction (1994)
2       356   54725   54725                                Forrest Gump (1994)
3       593   54567   54567                   Silence of the Lambs, The (1991)
4      2571   53682   53682                                 Matrix, The (1999)
5       527   48680   48680                            Schindler's List (1993)
6      2959   46856   46856                                  Fight Club (1999)
7       260   45849   45849          Star Wars: Episode IV - A New Hope (1977)
8        50   45648   45648                         Usual Suspects, The (1995)
9      1196   41745   41745  Star Wars: Episode V - The Empire Strikes Back...
10      858   39744   39744                              Godfather, The (1972)
11     4993   39729   39729  Lord of the Rings: The Fellowship of the Ring,...
12      589   39292   39292                  Terminator 2: Judgment Day (1991)
13     1198   39138   39138  Raiders of the Lost Ark (Indiana Jones and the...
14      110   38592   38592                                  Braveheart (1995)
15     2858   37203   37203                             American Beauty (1999)
16       47   36927   36927                        Seven (a.k.a. Se7en) (1995)
17     7153   36284   36284  Lord of the Rings: The Return of the King, The...
18     5952   35889   35889      Lord of the Rings: The Two Towers, The (2002)
19     1210   34484   34484  Star Wars: Episode VI - Return of the Jedi (1983)
20      480   32577   32577                               Jurassic Park (1993)
21     2028   32446   32446                         Saving Private Ryan (1998)
22    58559   32215   32215                            Dark Knight, The (2008)
23      457   32177   32177                               Fugitive, The (1993)
24      608   32040   32040                                       Fargo (1996)
25        1   31956   31956                                   Toy Story (1995)
26     4226   31853   31853                                     Memento (2000)
27     1270   31590   31590                          Back to the Future (1985)
28     2762   31038   31038                            Sixth Sense, The (1999)
29    79132   29620   29620                                   Inception (2010)
30     3578   29048   29048                                   Gladiator (2000)
31      150   28315   28315                                   Apollo 13 (1995)
32       32   28146   28146          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
33     1704   27890   27890                           Good Will Hunting (1997)
34     1193   27265   27265             One Flew Over the Cuckoo's Nest (1975)
35     1136   27241   27241             Monty Python and the Holy Grail (1975)
36     1221   26230   26230                     Godfather: Part II, The (1974)
37     1197   26220   26220                         Princess Bride, The (1987)
38      541   25915   25915                                Blade Runner (1982)
39     1089   25614   25614                              Reservoir Dogs (1992)

In [190]:
m = pd.read_csv('./ds2/movielens-ratings.csv')

In [191]:
id_to_title_dict[50]

'Usual Suspects, The (1995)'

[(array([ 0,  1,  5,  7, 13, 14, 16], dtype=int64),),
 (array([ 0,  2,  4,  6,  7,  8, 10, 11, 12, 13, 15, 16, 19], dtype=int64),),
 (array([ 1,  3,  6,  8,  9, 10, 13, 16, 17, 18, 19], dtype=int64),),
 (array([ 1,  4,  6,  8,  9, 11, 12, 13, 14, 16, 17, 18], dtype=int64),),
 (array([ 1,  2,  4,  5,  6,  7, 11, 14, 17, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  6,  9, 10, 11, 17, 18], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  7,  8,  9, 12, 13, 14, 15, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 1,  2,  6,  8,  9, 11, 12, 16, 17, 19], dtype=int64),),
 (array([ 1,  2,  5,  6,  8,  9, 13, 14, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 2,  6,  7,  9, 10, 12, 19], dtype=int64),),
 (array([ 0,  3,  4,  5,  7,  8, 10, 12, 13, 14, 17], dtype=int64),),
 (array([ 0,  5,  6,  8, 13, 15, 17, 18, 19], dtype=int64),),
 (array([ 1,  6,  8, 11, 14, 16, 17, 18], dtype=int64),),
 (array([ 1,  3,  4,  8,  9, 10, 12, 13, 14, 16], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  6, 10, 11, 12, 14, 15, 16, 17, 18],
        dtype=int64),),
 (array([ 0,  1,  2,  4,  5,  8, 10, 17], dtype=int64),),
 (array([ 1,  3,  5,  6,  8, 12, 16, 17, 18], dtype=int64),),
 (array([ 3,  4,  6, 10, 11, 12, 13, 15, 18, 19], dtype=int64),),
 (array([ 1,  2,  3,  6,  7,  9, 10, 12, 13, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  6,  8, 10, 11, 12, 13, 15], dtype=int64),),
 (array([ 1,  4,  6,  7,  8,  9, 10, 11, 12, 13, 19], dtype=int64),),
 (array([ 1,  4,  6,  7, 11, 12, 13, 19], dtype=int64),),
 (array([ 0,  1,  3,  4,  5, 10, 12, 14, 16, 17, 18, 19], dtype=int64),),
 (array([ 2,  3,  4,  6, 11, 15, 19], dtype=int64),),
 (array([ 0,  2,  3,  5,  6,  9, 12, 13, 14, 15, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  5,  6,  7, 11, 12, 15], dtype=int64),),
 (array([ 0,  1,  3,  4,  6,  8, 10, 13, 14, 17, 18], dtype=int64),),
 (array([ 1,  2,  5,  6,  7,  9, 11, 13], dtype=int64),),
 (array([ 1,  4,  7,  9, 11, 14, 15, 17, 18, 19], dtype=int64),),
 (array([ 0,  3,  5,  6,  9, 10, 11, 13, 14, 15, 16, 17], dtype=int64),),
 (array([ 0,  1,  2,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 18, 19],
        dtype=int64),),
 (array([ 2,  4,  5,  7,  9, 10, 12, 14, 15, 17, 19], dtype=int64),),
 (array([ 6, 13, 16, 17, 19], dtype=int64),),
 (array([ 2,  3,  5,  6,  7, 11, 13, 14, 16, 17, 18, 19], dtype=int64),),
 (array([ 3,  5,  8,  9, 13, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 2,  4,  5,  8,  9, 10, 11, 13, 16, 17], dtype=int64),),
 (array([ 1,  2,  3,  5,  6,  7, 12, 13, 14, 18, 19], dtype=int64),),
 (array([ 0,  2,  4,  6,  8, 13, 14, 16, 17, 19], dtype=int64),),
 (array([ 5,  9, 10, 11, 13, 15, 19], dtype=int64),),
 (array([ 1,  4,  5,  9, 12, 13, 16], dtype=int64),),
 (array([ 0,  2,  7,  9, 10, 11, 16, 18], dtype=int64),),
 (array([ 1,  3,  5,  6,  7, 11, 12, 13, 18], dtype=int64),),
 (array([ 0,  1,  5,  8,  9, 11, 12, 13, 14, 15], dtype=int64),),
 (array([ 0,  1,  2,  4,  8, 10, 11, 18, 19], dtype=int64),),
 (array([ 1,  6, 10, 11, 13, 15, 17], dtype=int64),),
 (array([ 3, 12, 13, 14, 18, 19], dtype=int64),),
 (array([ 5,  7,  8, 12, 14, 17, 18], dtype=int64),),
 (array([ 0,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 19],
        dtype=int64),),
 (array([ 4,  7,  8,  9, 10, 12, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  7, 12, 13, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  5,  6, 10, 11, 13, 16, 19], dtype=int64),),
 (array([ 0,  1,  4,  6,  7, 10, 12, 15, 17], dtype=int64),),
 (array([ 1,  2,  3,  4,  6,  7, 10, 11, 12, 13, 15, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 0,  1,  2,  4,  6,  7,  8,  9, 10, 11, 15, 16], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  7,  8,  9, 10, 12, 13, 15, 16, 17, 18],
        dtype=int64),),
 (array([ 0,  2,  4,  9, 11, 13, 15, 16, 19], dtype=int64),),
 (array([ 1,  3,  4,  5,  8,  9, 13, 14], dtype=int64),),
 (array([ 3,  5,  8, 10, 18, 19], dtype=int64),),
 (array([ 1,  5,  6,  7,  8, 10, 11, 13, 16, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  5,  6,  8, 11, 14, 18], dtype=int64),),
 (array([ 0,  2,  3,  4,  7,  8,  9, 10, 11, 13, 14, 17, 18, 19],
        dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  7, 10, 11, 12, 13, 14, 16, 17, 19],
        dtype=int64),),
 (array([ 3,  4,  5,  6, 11, 12, 14, 16, 18], dtype=int64),),
 (array([ 1,  3,  6,  7,  9, 12, 16, 17], dtype=int64),),
 (array([ 0,  2,  3,  4,  8, 10, 13, 14, 15, 16, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  7,  8,  9, 10, 12, 14, 16, 18, 19],
        dtype=int64),),
 (array([ 0,  3,  9, 13, 14, 15, 17, 19], dtype=int64),),
 (array([ 0,  4,  5,  7,  8,  9, 10, 11, 12, 14, 16, 17, 19], dtype=int64),),
 (array([ 2,  7, 12, 13, 15, 16, 17], dtype=int64),),
 (array([ 0,  5,  8, 13, 14, 15, 17, 18], dtype=int64),),
 (array([ 2,  3,  4,  5,  6,  8,  9, 10, 12, 15, 16], dtype=int64),),
 (array([ 0,  1,  5,  6,  7,  8, 12, 16, 18], dtype=int64),),
 (array([ 1,  3,  9, 10, 11, 14, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  7,  8,  9, 12, 13, 14, 15, 16], dtype=int64),),
 (array([ 0,  3,  5,  7, 10, 13, 14, 17, 19], dtype=int64),),
 (array([ 0,  1,  5,  6,  7,  8,  9, 11, 16, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  5,  7,  8, 10, 11, 12, 13, 14, 15, 16, 17, 19],
        dtype=int64),),
 (array([ 0,  5,  8,  9, 10, 11, 12, 13, 17, 18], dtype=int64),),
 (array([ 2,  3,  5,  9, 10, 13, 14, 15, 16, 19], dtype=int64),),
 (array([ 3,  5,  6,  8, 11, 12, 13, 14, 15, 17, 18], dtype=int64),),
 (array([ 1,  2,  4,  6,  8, 11, 12, 13, 14, 15, 17], dtype=int64),),
 (array([ 0,  2,  6,  7,  8, 10, 11, 12, 16, 18], dtype=int64),),
 (array([ 0,  1,  2,  5,  7,  8, 10, 12, 18], dtype=int64),),
 (array([ 0,  7,  8,  9, 11, 13, 14, 15, 16, 17, 18], dtype=int64),),
 (array([ 0,  2,  8,  9, 12, 13, 14, 15, 17, 18, 19], dtype=int64),),
 (array([ 0,  3,  5,  7,  9, 10, 12, 13, 17, 19], dtype=int64),),
 (array([ 0,  2,  5,  8,  9, 12], dtype=int64),),
 (array([ 0,  1,  3,  6,  9, 12, 13, 14, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 2,  4,  5,  6,  8,  9, 11, 12, 14, 16, 18], dtype=int64),),
 (array([ 1,  2,  3,  5,  9, 11, 13, 17], dtype=int64),),
 (array([ 3,  4,  5,  6,  9, 10, 12, 13, 15, 18], dtype=int64),),
 (array([ 3,  5, 12, 13, 15, 16], dtype=int64),),
 (array([ 1,  4,  5,  7,  9, 10, 11, 12, 13, 14, 15, 17, 18], dtype=int64),),
 (array([ 0,  4,  5,  6,  7,  9, 10, 12, 14, 15, 17], dtype=int64),),
 (array([ 0,  4,  8,  9, 10, 11, 16, 17, 18, 19], dtype=int64),),
 (array([ 0,  3,  5,  8,  9, 12, 14, 17], dtype=int64),),
 (array([ 1,  2,  5,  7,  8, 11, 14, 19], dtype=int64),),
 (array([ 1,  4,  6,  7,  8,  9, 11, 12, 13, 15, 16, 18, 19], dtype=int64),),
 (array([ 0,  2,  5,  6,  8, 11, 12, 15, 18], dtype=int64),),
 (array([ 1,  4,  5,  6, 11, 12, 13, 14, 18], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  5,  9, 11, 12, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  2,  4,  7,  8, 11, 12, 14, 15, 16], dtype=int64),),
 (array([ 0,  1,  2,  4,  5,  6,  9, 10, 11, 12, 18], dtype=int64),),
 (array([ 0,  2,  3,  4,  7, 10, 12, 17, 19], dtype=int64),),
 (array([ 1,  2,  3,  4,  8,  9, 11, 15, 19], dtype=int64),),
 (array([ 0,  1,  3, 11, 14, 15, 16, 17, 19], dtype=int64),),
 (array([ 5,  6,  8,  9, 10, 11, 14, 17, 18, 19], dtype=int64),),
 (array([ 3,  4,  5,  7,  8, 12, 15, 18], dtype=int64),),
 (array([ 1,  4,  5,  8,  9, 10, 12, 14, 17, 18], dtype=int64),),
 (array([ 2,  5,  8, 10, 14, 15, 16], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  6,  7, 12, 13, 14, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 1,  2,  3,  5,  7, 10, 11, 12, 14, 15, 16, 19], dtype=int64),),
 (array([ 0,  3,  4,  5,  6,  7,  8,  9, 11, 12, 15, 17], dtype=int64),),
 (array([ 1,  2,  3,  4,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 19],
        dtype=int64),),
 (array([ 0,  2,  4, 12, 14, 17], dtype=int64),),
 (array([ 0,  2,  3,  4,  6,  9, 12, 14, 15], dtype=int64),),
 (array([ 2,  3,  4,  6, 10, 12, 15, 18, 19], dtype=int64),),
 (array([ 3,  5,  6,  9, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  5,  6,  8, 10, 11, 12, 14, 17, 18], dtype=int64),),
 (array([ 1,  4,  8,  9, 10, 12, 13, 16, 17, 18], dtype=int64),),
 (array([ 0,  2,  3,  5,  8,  9, 12, 13, 16, 17, 18, 19], dtype=int64),),
 (array([ 0,  4,  6,  8, 17], dtype=int64),),
 (array([ 0,  2,  3,  4,  6,  8,  9, 13, 14, 16, 17, 19], dtype=int64),),
 (array([ 3,  6,  7,  8,  9, 12, 14, 16, 17], dtype=int64),),
 (array([ 1,  8, 11, 12], dtype=int64),),
 (array([ 4,  5,  7,  8, 10, 11, 13, 14, 15, 16, 17], dtype=int64),),
 (array([ 0,  1,  3,  7,  8,  9, 12, 14, 18, 19], dtype=int64),),
 (array([ 1,  2,  3,  4,  5,  6,  7, 13], dtype=int64),),
 (array([ 0,  1,  4,  6, 17, 18, 19], dtype=int64),),
 (array([ 0,  3,  6,  8,  9, 10, 12, 13, 15, 16], dtype=int64),),
 (array([ 3,  4,  5,  6,  7,  8,  9, 11, 12, 13, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 1,  2,  3,  4,  9, 12, 13, 16, 17, 18], dtype=int64),),
 (array([ 0,  1,  3,  4,  7, 12, 16], dtype=int64),),
 (array([ 0,  3,  4,  5,  8, 11, 13, 14, 17, 19], dtype=int64),),
 (array([ 1,  2,  4,  7,  8, 11, 13, 14, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 0,  1,  4,  5,  7,  8,  9, 10, 11, 12, 13, 15, 16, 17],
        dtype=int64),),
 (array([ 4,  6, 12, 13, 15, 16, 18, 19], dtype=int64),),
 (array([ 1,  9, 11, 12, 15, 17, 18, 19], dtype=int64),),
 (array([ 1,  5,  7, 10, 12, 15, 16, 18], dtype=int64),),
 (array([ 0,  1,  4,  8,  9, 10, 13, 14, 16], dtype=int64),),
 (array([ 2,  3,  5,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18],
        dtype=int64),),
 (array([ 0,  1,  2,  5,  7,  9, 10, 13, 15, 17, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  4,  5,  9, 11, 13, 14, 15, 19], dtype=int64),),
 (array([ 1,  4,  7,  8, 10, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  6,  7,  8, 11, 12, 13, 14, 15, 16, 17, 19],
        dtype=int64),),
 (array([ 2,  4,  7,  8,  9, 10, 11, 12, 13, 16, 18, 19], dtype=int64),),
 (array([ 0,  4,  7,  8,  9, 12, 13, 14, 17], dtype=int64),),
 (array([ 0,  1,  5,  7,  8,  9, 12, 13, 14, 15, 16], dtype=int64),),
 (array([ 0,  1,  3,  5,  6,  7,  9, 10, 12, 15, 16, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  5,  7, 10, 12, 14, 15, 18], dtype=int64),),
 (array([ 3,  4,  7, 10, 11, 12, 16, 17, 19], dtype=int64),),
 (array([ 1,  2,  4,  5,  7,  8, 10, 12, 13, 14, 16], dtype=int64),),
 (array([ 1,  2,  4,  5,  8,  9, 11, 13, 15, 17], dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  6,  8, 12, 13, 14, 15, 17], dtype=int64),),
 (array([ 0,  4,  6,  7,  8, 10, 11, 12, 13, 14, 16], dtype=int64),),
 (array([ 1,  2,  4,  5,  6,  8, 10, 13, 17, 18, 19], dtype=int64),),
 (array([ 3,  4,  5,  8,  9, 10, 13, 14, 16, 19], dtype=int64),),
 (array([ 1,  5,  7,  8,  9, 10, 13, 16], dtype=int64),),
 (array([ 3,  4,  5,  7,  9, 10, 11, 14, 19], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  8, 11, 12, 13, 14, 17, 18, 19], dtype=int64),),
 (array([ 3,  5,  6,  7,  8,  9, 11, 13, 14, 15], dtype=int64),),
 (array([ 2,  4,  5,  6,  7,  8,  9, 11, 12, 14, 16, 19], dtype=int64),),
 (array([ 1,  5,  6,  7, 10, 12, 15, 17], dtype=int64),),
 (array([ 0,  1,  3,  4,  8, 10, 11, 14, 15, 17, 18], dtype=int64),),
 (array([ 0,  1,  2,  3,  6,  8, 10, 12, 13, 14, 17, 18], dtype=int64),),
 (array([ 0,  3,  5,  6,  7, 11, 17, 18], dtype=int64),),
 (array([ 0,  1,  2,  5,  6,  8, 10, 11, 12, 14, 17, 18], dtype=int64),),
 (array([ 0,  1,  2,  3,  8, 12, 13, 14, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 0,  4,  5,  6,  8, 10, 11, 12, 14, 15], dtype=int64),),
 (array([ 2,  3,  4,  5,  7,  8,  9, 10, 11, 13, 16, 18], dtype=int64),),
 (array([ 0,  6, 10, 15, 17, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  5,  6,  7,  9, 11, 19], dtype=int64),),
 (array([ 0,  3,  4,  8, 10, 12, 15, 16, 17], dtype=int64),),
 (array([ 0,  1,  3,  7,  8,  9, 10, 14, 16, 18, 19], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  6,  8, 10, 11, 16, 17], dtype=int64),),
 (array([ 0,  1,  4,  5, 11, 12, 15, 17], dtype=int64),),
 (array([ 3,  5,  6,  7,  8,  9, 10, 11, 14, 15, 16], dtype=int64),),
 (array([ 1,  2,  3,  5,  6,  7, 10, 11, 16, 18, 19], dtype=int64),),
 (array([ 0,  3,  7,  8,  9, 10, 13], dtype=int64),),
 (array([ 0,  1,  2,  6,  7,  9, 10, 12, 15, 16, 18, 19], dtype=int64),),
 (array([ 0,  4,  5,  6,  7, 11, 12, 14, 15], dtype=int64),),
 (array([ 2,  3,  4,  6,  7,  8,  9, 11, 12, 13, 15, 16, 18, 19],
        dtype=int64),),
 (array([ 0,  1,  3,  4,  5,  6,  7,  9, 12, 13, 15, 17, 18, 19],
        dtype=int64),),
 (array([ 0,  2,  3,  4,  8, 10, 11, 13, 15, 18, 19], dtype=int64),),
 (array([ 0,  2,  4,  5,  9, 14, 15, 16, 17, 18], dtype=int64),),
 (array([ 0,  2,  3,  7,  8, 13, 14, 16], dtype=int64),),
 (array([ 0,  2,  7,  8, 10, 11, 14, 15, 17, 18, 19], dtype=int64),),
 (array([ 1,  5,  7,  9, 11, 15, 17, 18], dtype=int64),),
 (array([ 1,  2,  5,  7,  8, 11, 14, 15, 17], dtype=int64),),
 (array([ 0,  1,  3,  5,  6,  9, 12, 13, 15, 18, 19], dtype=int64),),
 (array([ 1,  4,  7, 14, 17], dtype=int64),),
 (array([ 1,  4,  9, 11, 13, 14, 17, 19], dtype=int64),),
 (array([ 2,  3,  5,  8, 10, 11, 12, 14, 15, 17, 19], dtype=int64),),
 (array([ 1,  2,  5,  7, 10, 11, 12, 16, 19], dtype=int64),),
 (array([ 0,  1,  2,  6,  7,  8,  9, 11, 13, 14, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  6,  7,  9, 12, 13, 18], dtype=int64),),
 (array([ 1,  4,  5,  6,  7,  9, 10, 13, 14, 15, 17, 19], dtype=int64),),
 (array([ 1,  4,  7,  8, 10, 14, 15, 18], dtype=int64),),
 (array([ 0,  5,  6,  9, 10, 11, 12, 15, 16], dtype=int64),),
 (array([ 1,  3,  6,  8, 11, 12, 13, 14, 15, 16, 18], dtype=int64),),
 (array([ 0,  1,  2,  3,  6,  7, 12, 14, 15, 16, 17], dtype=int64),),
 (array([ 6,  7,  8,  9, 10, 11, 13, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16], dtype=int64),),
 (array([ 0,  1,  3,  6,  9, 11, 12, 13, 17, 18], dtype=int64),),
 (array([ 0,  1,  3,  6, 11, 13, 15], dtype=int64),),
 (array([ 0,  5,  7,  8, 13, 15, 16], dtype=int64),),
 (array([ 0,  1,  2,  5,  7, 11, 13, 14, 15, 16, 19], dtype=int64),),
 (array([ 0,  5,  7,  8,  9, 10, 12, 13, 15, 16, 17], dtype=int64),),
 (array([ 3,  4,  6,  8, 10, 13, 15, 16, 17], dtype=int64),),
 (array([ 1,  2,  5,  7,  8,  9, 12, 14, 15, 16, 17, 19], dtype=int64),),
 (array([ 1,  2,  4,  5,  6,  8,  9, 11, 14, 16, 18, 19], dtype=int64),),
 (array([ 1,  2,  3,  4,  5,  6, 14, 16, 17], dtype=int64),),
 (array([ 5,  6,  7,  8,  9, 11, 13, 16, 17, 18, 19], dtype=int64),),
 (array([ 3,  4,  5,  6,  8, 11, 12, 13, 14, 16, 19], dtype=int64),),
 (array([ 0,  1,  2,  3, 10, 11, 12, 14, 15, 16, 18], dtype=int64),),
 (array([ 1,  4,  6,  8,  9, 12, 13, 14, 17, 18, 19], dtype=int64),),
 (array([ 2,  3, 10, 12, 14], dtype=int64),),
 (array([ 0,  1,  6, 10, 11, 12, 14, 15, 17, 18, 19], dtype=int64),),
 (array([ 0,  2,  3,  5,  7,  8, 10, 14, 15, 17, 18, 19], dtype=int64),),
 (array([ 1,  3,  6,  7, 10, 11, 14, 15, 16, 17, 18], dtype=int64),),
 (array([ 1,  3,  6,  8,  9, 17], dtype=int64),),
 (array([ 2,  3,  7, 12, 14, 15, 16, 19], dtype=int64),),
 (array([ 1,  2,  3,  4,  7,  8, 11, 12, 13, 16], dtype=int64),),
 (array([ 0,  3,  5,  6,  7,  9, 11, 12, 13, 14, 15, 17], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  6,  7, 10, 11, 13, 14, 15, 19], dtype=int64),),
 (array([ 1,  3,  4,  5,  6,  7,  8,  9, 10, 14, 15, 17], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  6,  8, 13, 14, 16, 17, 19], dtype=int64),),
 (array([ 0,  2,  5,  9, 15, 18], dtype=int64),),
 (array([ 5,  6,  8,  9, 12, 14, 16], dtype=int64),),
 (array([ 2,  3,  6,  7,  8, 10, 12, 13, 15, 16, 18], dtype=int64),),
 (array([ 0,  1,  5,  7, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  5,  7,  8,  9, 11, 13, 14, 16, 18, 19], dtype=int64),),
 (array([ 0,  2,  4,  5,  9, 12, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  2,  3,  5,  6,  7,  8, 12, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  4,  6,  7,  9, 10, 11, 14, 15, 16, 18], dtype=int64),),
 (array([ 0,  2,  4,  6,  7,  8, 12, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  6,  7,  8,  9, 12, 16, 18], dtype=int64),),
 (array([ 2,  4,  5, 10, 12, 14, 15, 16, 19], dtype=int64),),
 (array([ 2,  4,  8,  9, 12, 17, 18, 19], dtype=int64),),
 (array([ 1,  2,  3,  9, 11, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  3,  5,  7,  9, 11, 12, 17], dtype=int64),),
 (array([ 0,  1,  6,  8,  9, 13, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  4,  5,  8, 10, 12, 13, 14], dtype=int64),),
 (array([ 1,  3,  7,  9, 15, 16, 17, 18, 19], dtype=int64),),
 (array([ 1,  4,  6,  7,  8, 12, 13, 15, 17], dtype=int64),),
 (array([ 0,  3,  5,  6,  9, 13, 14, 15, 16, 17, 19], dtype=int64),),
 (array([ 0,  2,  3,  4,  5,  8,  9, 10, 12, 13, 14, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 0,  1,  3, 10, 11, 12, 13, 14, 18], dtype=int64),),
 (array([ 0,  4,  7,  9, 10, 12, 14, 15, 16, 18, 19], dtype=int64),),
 (array([ 2,  3,  4,  7,  9, 10, 12, 14, 15, 16, 17, 19], dtype=int64),),
 (array([ 1,  3,  4,  6,  8,  9, 10, 13, 14, 15, 17], dtype=int64),),
 (array([ 2,  3,  4,  6,  7,  8,  9, 10, 11, 14, 16], dtype=int64),),
 (array([ 0,  4,  9, 10, 11, 12, 13, 15, 16, 17, 19], dtype=int64),),
 (array([ 1,  2,  7,  9, 14, 15, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  5,  7,  8,  9, 10, 11, 12, 15, 16, 18, 19],
        dtype=int64),),
 (array([ 2,  4,  7, 10, 12, 17, 19], dtype=int64),),
 (array([ 6,  9, 13, 14, 15, 17, 19], dtype=int64),),
 (array([ 0,  3,  4,  6,  8, 11, 15, 17, 18], dtype=int64),),
 (array([ 0,  4,  7,  8,  9, 11, 13, 14, 15, 16, 17], dtype=int64),),
 (array([ 3,  4,  7,  9, 10, 13, 18, 19], dtype=int64),),
 (array([ 0,  2,  3,  6,  8, 11, 16, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  4,  5,  6,  8, 12, 13, 14, 15, 19], dtype=int64),),
 (array([ 1,  5,  8,  9, 11, 12, 13, 15, 17], dtype=int64),),
 (array([ 0,  2,  6, 13, 15, 17, 19], dtype=int64),),
 (array([ 1,  2,  4,  5,  8,  9, 11, 13, 18], dtype=int64),),
 (array([ 0,  3,  4,  5,  9, 12, 13, 15, 16, 18], dtype=int64),),
 (array([ 2,  5,  8,  9, 10, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  3,  7,  9, 10, 11, 13, 17, 18, 19], dtype=int64),),
 (array([ 0,  2,  4,  5,  7,  9, 13, 14, 15, 18, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8, 12, 13, 14, 15, 17, 18],
        dtype=int64),),
 (array([ 0,  2,  4,  9, 11, 12, 13, 15, 16], dtype=int64),),
 (array([ 3,  5,  7,  8, 15, 17, 19], dtype=int64),),
 (array([ 2,  7, 11, 12, 14, 16, 18, 19], dtype=int64),),
 (array([ 0,  2,  3, 12, 14, 15, 17, 18], dtype=int64),),
 (array([ 0,  3,  6,  7,  8, 10, 11, 12, 14], dtype=int64),),
 (array([ 1,  2,  3,  5,  6,  8, 12, 18, 19], dtype=int64),),
 (array([ 3,  4,  9, 12, 13, 15, 16, 19], dtype=int64),),
 (array([ 1,  9, 12, 13, 14], dtype=int64),),
 (array([ 0,  1,  2,  3,  5,  7,  8, 10, 11, 12, 13, 14, 15], dtype=int64),),
 (array([ 1,  2,  3,  4,  5,  6,  7,  9, 10, 12, 14, 16, 17], dtype=int64),),
 (array([ 1,  4,  5,  6,  8,  9, 10, 11, 13, 15, 16, 17, 18, 19],
        dtype=int64),),
 (array([ 4,  6,  8,  9, 11, 17, 19], dtype=int64),),
 (array([ 1,  3,  4,  6,  7,  9, 10, 11, 13, 14, 16, 17, 19], dtype=int64),),
 (array([ 0,  2,  6,  9, 10, 11, 12, 14, 16], dtype=int64),),
 (array([ 0,  2,  4,  5,  7,  8,  9, 10, 11, 13, 14, 16, 18], dtype=int64),),
 (array([ 2,  7,  8,  9, 11, 12, 13, 14, 17], dtype=int64),),
 (array([ 1,  3,  4,  7,  8,  9, 10, 12, 14, 15, 17, 19], dtype=int64),),
 (array([ 1,  7,  8,  9, 10, 11, 12, 13, 14, 17], dtype=int64),),
 (array([ 3,  4,  5,  7, 12, 14, 19], dtype=int64),),
 (array([ 1,  2,  5,  6,  8, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  4,  5,  6,  8, 11, 13, 16, 17, 19], dtype=int64),),
 (array([ 2,  3,  7,  8, 13, 14, 15, 16, 17, 19], dtype=int64),),
 (array([ 0,  1,  2,  3,  5,  6,  7,  9, 10, 11, 12, 13, 14, 15, 16, 17],
        dtype=int64),),
 (array([ 2,  4,  5,  6, 11, 12, 14, 15, 18], dtype=int64),),
 (array([ 0,  5,  6,  9, 12, 15, 19], dtype=int64),),
 (array([ 1,  2,  3,  6,  7,  8, 10, 12, 13, 14], dtype=int64),),
 (array([ 2,  5,  6,  7,  8,  9, 10, 11, 12, 13, 16, 17, 18], dtype=int64),),
 (array([ 0,  3,  7, 12, 14, 15, 16, 17, 19], dtype=int64),),

In [128]:
a = np.array([1,33,24,5,6])
list(map(np.where, a))

[(array([0], dtype=int64),),
 (array([0], dtype=int64),),
 (array([0], dtype=int64),),
 (array([0], dtype=int64),),
 (array([0], dtype=int64),)]

In [126]:
lst = [0]*50

In [127]:
np.where()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]